/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  line-height: 32px;
  letter-spacing: 0.1em;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

/*headings*/

h1, h2 {
	font-family: "Roboto Slab", serif;
	font-size: 1.5em;
	letter-spacing: 0.05em;
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: 0;
}

/*paragraphs and lists*/

h2 + p {
	text-indent: 2rem;
}

li, p {
	line-height: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}

ul {
	list-style-type: square;
}

/*links*/

a:link {
	color: #aa6666;
}

a:visited {
	color: #aa6666;
}

a:hover {
	color: #aa6666;
	text-decoration: none;
}

a:focus {
	color: #aa6666;
	text-decoration: none;
	outline: 0;
}

a[href*='http'] {
	background: no-repeat url("external-link-52.png") right; 
	background-position: top right;
	background-size: 12px 12px;
	padding-right: 0.7rem;
}

/*nav menu*/

nav li {
	font-family: "Roboto Slab", serif;
	text-transform: uppercase;
	text-align: center;
	list-style-type: none;
	font-weight: bold;
}
nav li a {
	border: 2px solid #aa6666;
	width: 100%;
	padding: 10% 0%;
	display: inline-block;
	text-decoration: none;
}
}
