html {
	background-color: white;
}

body {
	font: 1.2em / 1.5 system-ui;
	padding: 20px;
	width: 500px;
	background: #efefef;
	margin: 0 auto 0;
}
ul {
	background-color: white;
	padding: 30px;
	border: 5px solid purple;
	border-radius: 20px;
}
h1 {
	color: darkslategray;
	border-bottom: 10px dotted purple;
	font-size: 2em;
}
h2 {
	font-style: italic;
	font-size: 1.5em;
}
.job-title {
	color: darkslategray;
	font-weight: bold;
}
a:link {
	color: green;
}
a:hover, a:focus {
	color: darkgreen;
	text-decoration: none;
}